<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style2.css" />
    <title>Bookers_wcp</title>
    <script src="https://kit.fontawesome.com/ebd5cc16fe.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <% if flash[ :notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
    <% end %>
    
    <strong class="books-title">Books</strong>
    <table>
      <thead>
        <tr>
          <th><strong>Titles</strong></th>
          <th><strong>Body</strong></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="book-title"><%= book.title %></td>
          <td class="book-text"><%= book.body %></td>
          <td>
            <strong class="item"><%= link_to "Show", book_path(book.id) %></storong>
          </td>
          <td>
            <strong class="item"><%= link_to "Edit", edit_book_path(book) %></strong>
          </td>
          <td>
            <strong class="item"><%= link_to "Destroy",book_path(book),method: :delete, data: {confirm: 'Are you sure?'} %></strong>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    
    <strong class="new-title">New book</strong>
    <!-- form_with部分 -->
    <%= form_for @book do |f| %>
      <% if @book.errors.any? %>
        <div class="error">
           <h3 class="error1"><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
           <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
           </ul>
        </div>
      <% end %>
      
      <h4 class="item2">Title</h4>
      <%= f.text_field :title %>

      <h4 class="item2">Body</h4>
      <%= f.text_area :body %><br>

      <div class="item2"><%= f.submit 'Create Book' %></div>
    <% end %>

  </body>
</html>