<% if flash[ :notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>


<h4>Title:</h4>
<p><%= @book.title %></p>

<h4>Body:</h4>
<P><%= @book.body %></P>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "destroy",book_path(@book),method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to "back", :back %>